/* 如果你定义了颜色属性，你还必须定义背景色属性。 */
body {
    color: rgb(10, 2, 34);
    background-color: white;
}

h1 {
    color: #0000ff;
    text-align: center;
}

h2 {color: rgb(255, 0, 0);}

/* p.date {text-align: right;}
p.main {text-align: justify;} */

/* 
文本修饰 text-decoration
从设计的角度看，text-decoretion属性主要用来删除链接的下划线
*/
a {text-decoration: none;}

/* 我们不建议强调指出不是链接的文本，因为这常常混淆用户。 */
/* h1 {text-decoration:overline;}
h2 {text-decoration:line-through;}
h3 {text-decoration:underline;} */

/* 文本转换 */
p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}

/* 文本缩进 */
/* p {text-indent: 100px;} */

/* 指定字符之间的间距 */
h1 {letter-spacing: 10px;}
h2 {letter-spacing: -2px;}

/* 指定行与行之间的空间 */
p.small {line-height: 70%;}
p.big {line-height: 200%;}

/* 设置元素的文本方向 */
div.ex1 {direction:rtl;}

/* 增加单词之间的空白空间 */
p.wordspacing {word-spacing: 30px;}

/* 在元素内禁用文字环绕 */
p.whitespace {white-space: nowrap;}

/* 垂直对齐图像 */
img.top {vertical-align: text-top;}
img.bottom {vertical-align: text-bottom;}

/* 添加文本阴影 */
h1.textshadow {text-shadow:5px 2px #FF0000;}

/* 设置字体加粗 */
p.normal {font-weight: normal;}
p.light {font-weight: lighter;}
p.thick {font-weight: bold;}
p.thicker {font-weight: 900;}

/* 设置字体的转变 */
p.normal1 {font-variant: normal;}
p.small1 {font-variant: small-caps;}

/* 在一个声明中的所有字体属性 */
p.ex2 {font: 15px arial,sans-serif;}
p.ex3 {font: italic bold 12px/30px Georigia,serif;}

/* 链接的样式 */
/* a:link {color:#000000;}     未访问链接*/
/* a:visited {color:#00FF00;}  已访问链接 */
/* a:hover {color:#FF00FF;}  鼠标移动到链接上 */
/* a:active {color:#0000FF;}  鼠标点击时 */ 

/* a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;} */

/* 创建链接框 */
a:link, a:visited
{
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
a:hover, a:active
{
    background-color: #7A991A;
}